/* google font url */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

/* header section start here */

/* main area styles */
.container {
    width: 870px;
    margin: 20px auto;
    background-color: #ffff;
    padding: 30px;
    border-radius: 5px;
}

/* top section styles */



.section-title {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 25px;
}

.player {
    display: flex;
    align-items: center;
}

.players .player img {
    width: 56px;
    height: 56px;
}

.player>h3 {
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}

.border-hr {
    border: 1px solid #D1D1D1;
}

/* top blog stles */
.top-blogs {
    margin: 20px 0;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog-authore {
    margin-left: 15px;
}

.blog-title {
    height: 68px;
    left: 508px;
}

.blog-img img {
    height: 244px;
    height: 127px;
}

.blog-authore .blog-description {
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
}

.blog-authore .blog-description a {
    text-decoration: none;
    margin: 10px;
    color: #562EFF;
}

/* courses section styles */
.courses {
    display: flex;
    justify-content: space-between;
}

.course {
    width: 252.42px;
    height: 269.79px;
    padding: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
    border-radius: 5px;
}

.course img {
    width: 260px;
    height: 137px;
}

.course-title {
    font-weight: 500;
    font-size: 20.0336px;
}

.course-authore {
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
    margin: 10px 0;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-icon .filled {
    color: #FFC014;
}

.course-icon .empty {
    color: #AEAEAE;
}

.course-info p {
    color: #AEAEAE;
}

.time {
    color: #FF4A60;
    background: #FEE5DF;
    border-radius: 14.6913px;
    font-weight: 600;
    font-size: 14.6913px;
    padding: 3px 10px;
}
/* responsive styles */


@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 80%;
    }
    .players {
        grid-template-columns: repeat(, 1fr);
        grid-row-gap: 20px;
        padding-bottom: 15px;
    }
    .player{
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .blog{
        margin-left: 50px;
    }
    .courses{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }

}

@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        padding-bottom: 10px;
    }
    .player{
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }

    .courses{
       display: block;
    }
    .course{
        width: 93%;
    }
}
